
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for admin
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'haxiswoins@qq.com';
    }

    // Site content, character info, commission info, and works should be publicly readable
    match /{collection}/{docId}
      where collection in ['site', 'characters', 'characterSeries', 'commissionOptions', 'commissionStyles', 'works'] {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Orders can only be read by their owner or an admin.
    // Orders can only be created by a logged-in user.
    // Orders can only be updated/deleted by an admin.
    match /orders/{orderId} {
      allow read: if (request.auth != null && request.auth.uid == resource.data.userId) || isAdmin();
      allow create: if request.auth != null;
      allow update, delete: if isAdmin();
    }
  }
}
